<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4>Editează contul</h4>
  </div>
  <div class="panel-body">
    <%= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <div class="form-group">
        <%= f.email_field :email,label: "Email", autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.email_field :name, label: "Prenume", autofocus: true, class: "form-control" %>
        <%= f.email_field :surname, label: "Nume", autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, label: "Parolă nouă (lăsați gol dacă nu vreți să modificați)", :autocomplete => "off", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, label: "Confirmă parolă nouă", class: "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.password_field :current_password, label: "Parola curentă (avem nevoie de ia pentru a confirma modificările)", class: "form-control" %>
      </div>
      <%= f.submit "Actualizează", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<p><%= "Ești nemulțumit?" %> <%= link_to "Anulează contul meu", registration_path(resource_name), :data => { :confirm => "Ești sigur?"}, :method => :delete %>.</p>
