<div class="page-header" >
  <h1><%= @user.first_name %></h1>
</div>

<div class="jumbotron">
    <div class="tabbable">
     <ul class="nav nav-tabs nav-justified social-tabs">
      <% if @user.facebook %>
        <li class="active"><a href="#facebook_tab"  data-toggle="tab">
          <%= fa_icon "facebook", class: "fa-2x" %> 
        </a></li>
      <% end %>
      <% if @user.instagram %>
        <li><a href="#instagram_tab" data-toggle="tab">
          <%= fa_icon "instagram", class: "fa-2x" %> 
        </a></li>
      <% end %>
      <% if @user.twitter %>
        <li><a  href="#twitter_tab" data-toggle="tab">
          <%= fa_icon "twitter", class: "fa-2x" %> 
        </a></li>
      <% end %>
      </ul>
    </div>

    <div class="tab-content">
      <% if @user.facebook %>
        <div id="facebook_tab" class="tab-pane active">
            <h3>Feed</h3>
              <table class="table table-striped">
                <tr>
                  <th class="text-left" >Story</th>
                  <th class="text-center">Likes</th>
                  <th class="text-center">Analysis</th>
                </tr>
                <% @fb_posts.each do |p| %>
                  <% if p.content %>
                  <tr>
                    <td class="text-left">
                    <%= p.content%></td>
                    <td><%= p.likes %></td>
                    <td><%= link_to 'more', p %></td>
                  </tr>
                  <% end %>
                <% end %>
            </table>
          </div>
        <% end %>

      <% if @user.instagram %>
        <div id="instagram_tab"  class="tab-pane">
          <h3>Instagram Posts</h3>
          <table class="table table-striped">
            <tr>
              <th class="text-left" >Story</th>
              <th class="text-center">Likes</th>
              <th class="text-center">Analysis</th>
            </tr>
            <% @ig_posts.each do |p| %>
              <% if p.content %>
              <tr>
                <td class="text-left">
                  <%= p.content %>
                </td>
                <td> 
                  <%= p.likes %>
                </td>
                <td><%= link_to 'more', p %></td>
              </tr>
              <% end %>
            <% end %>
          </table> 
        </div>
      <% end %>

      <% if @user.twitter %>
        <div id="twitter_tab"  class="tab-pane">
          <h3>Tweets</h3>
         <table class="table table-striped">
            <tr>
              <th class="text-left" >Story</th>
              <th class="text-center">Likes</th>
              <th class="text-center">Analysis</th>
            </tr>
            <% @tw_posts.each do |t| %>
              <% if t.content %>
              <tr>
                <td class="text-left">
                  <%= t.content %>
                </td>
                <td> 
                  <%= t.likes %>
                </td>
                <td><%= link_to 'more', t %></td>

              </tr>
              <% end %>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
