<div class="page-header" >
  <h2 class="text-center"><%= @user.first_name %></h2>
</div>

<div class="jumbotron">
    <div class="tabbable">
     <ul class="nav nav-tabs nav-justified social-tabs">
      <% if @user.facebook %>
        <li class="active"><a href="#facebook_tab"  data-toggle="tab">
          <%= fa_icon "facebook", class: "fa-2x" %> 
        </a></li>
      <% end %>
      <% if @user.instagram %>
        <li><a href="#instagram_tab" data-toggle="tab">
          <%= fa_icon "instagram", class: "fa-2x" %> 
        </a></li>
      <% end %>
      <% if @user.twitter %>
        <li><a  href="#twitter_tab" data-toggle="tab">
          <%= fa_icon "twitter", class: "fa-2x" %> 
        </a></li>
      <% end %>
    </div>

    <div class="tab-content">
      <% if @user.facebook %>
        <div id="facebook_tab" class="tab-pane active">
            <h3>Feed</h3>
              <table class="table table-striped">
                <tr>
                  <th class="text-left" >Story</th>
                  <th class="text-center">Created</th>
                  <th class="text-center">Likes</th>
                </tr>
                <% @fb_posts.each do |p| %>
                  <% if p.content %>
                  <tr>
                    <td class="text-left">
                    <%= p["content"]%></td>
                    <td><%= Date.parse(p.date) %></td>
                    <td><%= p.likes %></td>
                  </tr>
                  <% end %>
                <% end %>
            </table>
          </div>
        <% end %>

      <% if @user.instagram %>
        <div id="instagram_tab"  class="tab-pane">
          <table class="table table-striped">
            <tr>
              <th class="text-left" >Story</th>
              <th class="text-center">Likes</th>
            </tr>
            <% @ig_feed.each do |p| %>
              <% if p.caption %>
              <tr>
                <td class="text-left">
                  <%= p.caption.text %>
                </td>
                <td> 
                  <%= p.likes["count"] %>
                </td>
              </tr>
              <% end %>
            <% end %>
          </table> 
        </div>
      <% end %>

      <% if @user.twitter %>
        <div id="twitter_tab"  class="tab-pane">
         <table class="table table-striped">
            <tr>
              <th class="text-left" >Story</th>
              <th class="text-center">Created</th>
            </tr>
            <% @tw_feed.each do |t| %>
              <% if t.text %>
              <tr>
                <td class="text-left">
                  <%= t.text %>
                </td>
                <td> 
                  <%= Date.parse(t.created_at.to_s) %>
                </td>
              </tr>
              <% end %>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
