<%= bootstrap_form_for(ticket) do |f| %>

  <div class="actions">
    <%= f.text_field :company_idno,label: "C.F / IDNO" %>
    <%= f.text_field :nr_bon_fiscal, label: "Numărul bonului fiscal" %>
    <%= f.text_field :price, label: "Suma totală a bonului fiscal" %>
    <%= f.text_field :company, label: "Denumirea întreprinderii" %>
    <%= f.text_field :data_el, label: "Data eliberării", class: "datepicker" %>
    <%= f.submit "Înregistrează" %>
  </div>
<% end %>

<h3> Register new ticket <h3>

<%= bootstrap_form_for(@ticket) do |f| %>

<% end %>
