<%= bootstrap_form_for(@ticket) do |f| %>
<% if @ticket.errors.any? %>
    <ul class="errors">
      <% @ticket.errors.full_messages.each do | msg| %>
        <%  if msg.match(/^Num/) %>
          <div class="alert alert-warning alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= msg %>
          </div>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%= bootstrap_form_for(ticket) do |f| %>
  <div class="actions">
    <%= f.text_field :company_idno,label: "Cod Fiscal (IDNO)" %>
    <%= f.text_field :nr_bon_fiscal, label: "Numărul bonului fiscal" %>
    <%= f.text_field :price, label: "Suma totală a bonului fiscal" %>
    <%= f.text_field :company, label: "Denumirea întreprinderii" %>
    <%= f.text_field :data_el, label: "Data eliberării", class: "datepicker" %>
    <%= f.submit "Înregistrează", class: "btn btn-primary"%>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>