<div class="container">
  <h2>Bonuri fiscale</h2>
  <% if !@tickets.empty? %>
    <div class="container col-md-10 col-md-offset-1">
      <table class="table table-tickets ">
      <th>Nr. bon</th>
      <th>Data eliberării</th>
      <th>Cod de participare</th>
      <th></th>
        <% i = 0 %>
        <% @tickets.each do |t| %>
          <% if t.citizen == current_citizen %>
            <%i = i+1%>
            <tr>
              <td class='clickable-row' data-href="<%= ticket_path(t) %>"><%= i %></td>
              <td class='clickable-row' data-href="<%= ticket_path(t) %>"><%= t.data_el %></td>
              <td class='clickable-row' data-href="<%= ticket_path(t) %>"><%= t.winning_id %></td>
              <td align="center">

                <%= button_to t, 
                        class: "btn btn-danger btn-xs", method: :delete,
                        data: { confirm: 'Sunteți sigur?' }  do  %>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Șterge

                <% end %>




              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  <%else%>
    <h4 style="color:#ff9933;">Nu sunt tichete înregistrate</h4>
  <% end %>

  <script type="text/javascript">
    $(document).on('turbolinks:load', function() {
      $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
      });
    });
  </script>
</div>
