<div class="container">
  <h2>Bonuri fiscale</h2>
  <% if !@tickets.empty? %>
    <div class="container col-md-10 col-md-offset-1">
      <table class="table table-tickets ">
      <th>Nr. bon</th>
      <th>Data eliberării</th>
      <th>Cod de participare</th>
      <th></th>
        <% i = 0 %>
        <% @tickets.each do |t| %>
          <% if t.citizen == current_citizen %>
            <%i = i+1%>
            <tr class='clickable-row' data-href = <%= ticket_path(t) %>>
              <td><%= i %></td>
              <td><%= t.data_el %></td>
              <td cursor="pointer"><%= t.winning_id %></td>
              <td align="center">
                <i class="fa fa-trash-o" aria-hidden="true"> </i> <%= link_to 'Șterge', t, method: :delete, data: { confirm: 'Sunteți sigur?' } %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  <%else%>
    <h4 style="color:#ff9933;">Nu sunt tichete înregistrate</h4>
  <% end %>

  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
      });
    });
  </script>
</div>
