

<h1>Tickets</h1>
<% if !@tickets.empty? %>
  <% @tickets.each do |t| %>
    <% if t.citizen == current_citizen %>
    <div class="container">
      <table class="table table-tickets ">
        <tr>
          <td>Cod fiscal</td>
          <td><%= t.company_idno %></td>
        </tr>
        <tr>
          <td>Numarul bonului fiscal</td>
          <td><%= t.nr_bon_fiscal %></td>
        </tr>
        <tr>
          <td>Pret pe bon</td>
          <td><%= t.price %></td>
        </tr>
        <tr>
          <td>Compania</td>
          <td><%= t.company %></td>
        </tr>
        <tr>
          <td>Data eliberării</td>
          <td><%= t.data_eliberarii %></td>
        </tr>
        <% if Rails.env.development? %>
        <tr>
          <td>Citizen</td>
          <td><%= t.citizen.id %></td>
        </tr>
        <tr>
          <td>
            <%= link_to 'Show', t %>
            <%= link_to 'Edit', edit_ticket_path(t) %>
            <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %>    
          </td>
          <td></td>
        </tr>
        <% end %> 
      </table>
    </div>
    <% end %>
  <% end %>
<%else%>
  <h3>Nu sunt tichete înregistrate</h3>
<% end %>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
