<div class="container">
    <h4>Detalii bon fiscal</h4>
    <br>
    <div class="container col-md-7 col-md-offset-1">
    <table class="table table-tickets">
      <tr>
        <td>Cod fiscal</td>
        <td><%= @ticket.company_idno %></td>
      </tr>
      <tr>
        <td>Nr. de înregistrare a MCC</td>
        <td><%= @ticket.company_mcc %></td>
      </tr>
      <tr>
        <td>Numărul bonului fiscal</td>
        <td><%= @ticket.nr_bon_fiscal %></td>
      </tr>
      <tr>
        <td>Prețul bonului</td>
        <td><%= @ticket.price %></td>
      </tr>
      <tr>
        <td>Compania</td>
        <td><%= @ticket.company %></td>
      </tr>
      <tr>
        <td>Data eliberării</td>
        <td><%= @ticket.data_el %></td>
      </tr>
      <tr>
        <td>Cod de participare</td>
        <td><%= @ticket.winning_id %></td>
      </tr>
      <% if Rails.env.development? %>
      <tr>
        <td>Id-ul cetățeanului</td>
        <td><%= @ticket.citizen.id %></td>
      </tr>
      <% end %>
    </table>
    <div class="row" align="center">
      <div class="col-md-3">
        <%= button_to @ticket, 
          class: "btn btn-danger", method: :delete,
          data: { confirm: 'Sunteți sigur?' }  do  %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          Șterge bonul
          <% end %>
      </div>
      <div class="col-md-3 col-md-offset-2">
        <a href="/tickets" class="btn btn-info">Toate bonurile</a>
      </div>
      <div class="col-md-4">
        <a href="/tickets/new" class="btn btn-success">Adaugă un bon</a>
      </div>
    </div>
  </div>
  <div class="container col-md-3">


    <% if @ticket.ticket_image %>
      <%= cl_image_tag(@ticket.ticket_image.path, :width=>225, class: "img-responsive img-thumbnail center-block") %>


    <% else %>
      <%= cl_image_tag("no_uploaded_xhmfey.png", :width=>200, class: "img-responsive img-thumbnail center-block") %>
    <% end %>
  </div>
</div>

<!-- Trigger the Modal -->

<%= cl_image_tag(@ticket.ticket_image.path, alt: "Bon fiscal",id: "myImg", :width=>300, class: "img-responsive img-thumbnail center-block") %>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>


<style type="text/css">
  /* Style the Image Used to Trigger the Modal */
  #myImg {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
  }

  #myImg:hover {opacity: 0.7;}

  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (Image) */
  .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)} 
      to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
      position: absolute;
      top: 120px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
  }

  .close:hover,
  .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
      .modal-content {
          width: 100%;
      }
  }
</style>

<script type="text/javascript">
  // Get the modal
  var modal = document.getElementById('myModal');

  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var img = document.getElementById('myImg');
  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption");
  img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      modalImg.alt = this.alt;
      captionText.innerHTML = this.alt;
  }

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() { 
    modal.style.display = "none";
  }
</script>
