<div class="container">
  <table class="table table-tickets">
    <tr>
      <td>Cod fiscal</td>
      <td><%= @ticket.company_idno %></td>
    </tr>
    <tr>
      <td>Numărul bonului fiscal</td>
      <td><%= @ticket.nr_bon_fiscal %></td>
    </tr>
    <tr>
      <td>Prețul bonului</td>
      <td><%= @ticket.price %></td>
    </tr>
    <tr>
      <td>Compania</td>
      <td><%= @ticket.company %></td>
    </tr>
    <tr>
      <td>Data eliberării</td>
      <td><%= @ticket.data_el %></td>
    </tr>
    <tr>
      <td>Id-ul câștigător</td>
      <td><%= @ticket.winning_id %></td>
    </tr>
    <% if Rails.env.development? %>
    <tr>
      <td>Id-ul cetățeanului</td>
      <td><%= @ticket.citizen.id %></td>
    </tr>
    <% end %>
  </table>
</div>

<%= link_to 'Back', tickets_path %>
