<div class="container col-md-6 col-md-offset-3">
<%= bootstrap_form_for(@submission) do |f| %>
  <div class="actions">
    <%= f.text_field :institution_name, label: "Numele instituției" %>
    <%= f.text_field :city, label: "Orașul instituției" %>
    <%= f.text_field :address, label: "Adresa instituției" %>
    <%= f.text_area :description, label: "Descrierea raportării" %>
    <div align="center">
	    <%= f.submit "Raportează", class: "btn btn-warning " %>
	    <a href="/submissions" class="btn btn-success" > Vezi toate raportările </a>
  	</div>
  </div>
<% end %>
</div>
