<div class="container">
    
    <h2>Câștigători</h2>
    <% if citizen_signed_in? %>
      <% if current_citizen.email == "cristian.cartofeanu@gmail.com" || current_citizen.email == "macrinici.d@gmail.com" || current_citizen.email == "andrei.capastru@gmail.com" %>
        <div align="center">
          <a href="/generatewinners" class="btn btn-info" role="button">Generează câștigătorii</a>
        </div>  
        <br>
      <% end %>
    <% end %>
    <% if !@winners.empty? %>
   <!--  <div align="center">
      <%= link_to "reload", "" %>
      <a href="/lottery" class="btn btn-success" role="button">Actualizează</a>
    </div> -->
    <!-- Plans -->
    <section id="plans">
        <div class="container">
            <div class="row">

                <!-- item -->
                <div class="col-md-4 text-center" style="word-wrap: break-word;">
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading">
                            <h4>De la 5 la 99 lei</h4>
                        </div>
                        <div class="list-group text-center">
                            <h5><%= Ticket.select(:id).where(ticket_category: "low").count %> - Bonuri înregistrate</h5>
                        </div>
                        <% @winners.each do |t| %>
                          <% if t.ticket.ticket_category == "low" %>
                            <ul class="list-group text-center">
                              <li class="list-group-item">
                              <h5>
                                <%= t.ticket.citizen.name %> - <%= t.ticket.winning_id %>
                              </h5>
                              </li>
                            </ul>
                          <% end %>
                        <% end %>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center" style="word-wrap: break-word;">
                    <div class="panel panel-warning panel-pricing">
                        <div class="panel-heading">
                            <h4>De la 100 la 499 lei</h4>
                        </div>
                        <div class="list-group text-center">
                            <h5> <%= Ticket.select(:id).where(ticket_category: "medium").count %> - Bonuri înregistrate</h5>
                        </div>
                        <% @winners.each do |t| %>
                          <% if t.ticket.ticket_category == "medium" %>
                            <ul class="list-group text-center">
                              <li class="list-group-item">
                              <h5>
                                <%= t.ticket.citizen.name %> - <%= t.ticket.winning_id %>
                              </h5>
                              </li>
                            </ul>
                          <% end %>
                        <% end %>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center" style="word-wrap: break-word;">
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <h4>De la 500 lei</h4>
                        </div>
                        <div class="list-group text-center">
                            <h5 ><%= Ticket.select(:id).where(ticket_category: "high").count %> - Bonuri înregistrate</h5>
                        </div>
                        <% @winners.each do |t| %>
                          <% if t.ticket.ticket_category == "high" %>
                            <ul class="list-group text-center">
                              <li class="list-group-item">
                              <h5>
                                <%= t.ticket.citizen.name %> - <%= t.ticket.winning_id %>

                              </li>
                            </ul>
                          <% end %>
                        <% end %>
                    </div>
                </div>
                <!-- /item -->

            </div>
        </div>
    </section>

  <%else%>
    <h4 style="color:#ff9933;">Nu sunt tichete câștigătoare</h4>
  <% end %>

</div>
