<h2>Câștigători</h2>

<a href="/generatewinners" class="btn btn-info" role="button">Generate Winners</a>

<% if !@winners.empty? %>

  <% @winners.each do |t| %>
    <div class="container">
      <table class="table table-tickets">
        <tr>
          <td>Cod fiscal</td>
          <td><%= t.ticket.company_idno %></td>
        </tr>
        <tr>
          <td>Numarul bonului fiscal</td>
          <td><%= t.ticket.nr_bon_fiscal %></td>
        </tr>
        <tr>
          <td>Pret pe bon</td>
          <td><%= t.ticket.price %></td>
        </tr>
        <tr>
          <td>Compania</td>
          <td><%= t.ticket.company %></td>
        </tr>
        <tr>
          <td>Data eliberării</td>
          <td><%= t.ticket.data_el %></td>
        </tr>
        <% if Rails.env.development? %>
          <tr>
            <td>Citizen</td>
            <td><%= t.ticket.citizen.id %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
<%else%>
  <h3>Nu sunt tichete câștigătoare</h3>
<% end %>
