<%= content_tag :div, class: "lottery_class", data: {lottery_deadline: @timeleft} do %>
<% end %>

<div class="container">
    
    <h2>Câștigători</h2>
    
    <% if citizen_signed_in? %>
      <% if current_citizen.email == "cristian.cartofeanu@gmail.com" || current_citizen.email == "macrinici.d@gmail.com" || current_citizen.email == "andrei.capastru@gmail.com" %>
        <div align="center">
          <a href="/generatewinners" class="btn btn-info" role="button">Generează câștigătorii</a>
        </div>  
        <br>
      <% end %>
    <% end %>

    <% if !@winners.empty? %>
    <section id="plans">
        <div class="container">
            <div class="row">

                <!-- item -->
                <div class="col-md-4 text-center" style="word-wrap: break-word;">
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading">
                            <h4>De la 5 la 99 lei</h4>
                        </div>
                        <div class="list-group text-center">
                            <h5><%= Ticket.select(:id).where(ticket_category: "low").count %> - Bonuri înregistrate</h5>
                        </div>
                        <% @winners.each do |t| %>
                          <% if t.ticket.ticket_category == "low" %>
                            <ul class="list-group text-center">
                              <li class="list-group-item">
                              <h5>
                                 <%= t.ticket.winning_id %>
                              </h5>
                              </li>
                            </ul>
                          <% end %>
                        <% end %>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center" style="word-wrap: break-word;">
                    <div class="panel panel-warning panel-pricing">
                        <div class="panel-heading">
                            <h4>De la 100 la 499 lei</h4>
                        </div>
                        <div class="list-group text-center">
                            <h5> <%= Ticket.select(:id).where(ticket_category: "medium").count %> - Bonuri înregistrate</h5>
                        </div>
                        <% @winners.each do |t| %>
                          <% if t.ticket.ticket_category == "medium" %>
                            <ul class="list-group text-center">
                              <li class="list-group-item">
                                <h5>
                                  <%= t.ticket.winning_id %>
                                </h5>
                              </li>
                            </ul>
                          <% end %>
                        <% end %>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center" style="word-wrap: break-word;">
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <h4>De la 500 lei</h4>
                        </div>
                        <div class="list-group text-center">
                            <h5 ><%= Ticket.select(:id).where(ticket_category: "high").count %> - Bonuri înregistrate</h5>
                        </div>
                        <% @winners.each do |t| %>
                          <% if t.ticket.ticket_category == "high" %>
                            <ul class="list-group text-center">
                              <li class="list-group-item">
                                <h5>
                                  <%= t.ticket.winning_id %>
                                </h5>
                              </li>
                            </ul>
                          <% end %>
                        <% end %>
                    </div>
                </div>
                <!-- /item -->
            </div>
        </div>
    </section>

<h1>Până la următoarea extragere au mai rămas</h1>
<div id="clockdiv" align="center">
  <div>
    <span class="days javascript-time"></span>
    <div class="smalltext">Zile</div>
  </div>
  <div>
    <span class="hours javascript-time"></span>
    <div class="smalltext">Ore</div>
  </div>
  <div>
    <span class="minutes javascript-time"></span>
    <div class="smalltext">Minute</div>
  </div>
  <div>
    <span class="seconds javascript-time"></span>
    <div class="smalltext">Secunde</div>
  </div>
</div>

  <%else%>
    <h4 style="color:#ff9933;">Nu sunt tichete câștigătoare</h4>
  <% end %>
</div>

<script type="text/javascript">
var timing = $('.lottery_class').data('lottery-deadline')


function getTimeRemaining(endtime) {
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor((t / 1000) % 60);
  var minutes = Math.floor((t / 1000 / 60) % 60);
  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
  var days = Math.floor(t / (1000 * 60 * 60 * 24));
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
    };
  }

  function initializeClock(id, endtime) {
    var clock = document.getElementById(id);
    var daysSpan = clock.querySelector('.days');
    var hoursSpan = clock.querySelector('.hours');
    var minutesSpan = clock.querySelector('.minutes');
    var secondsSpan = clock.querySelector('.seconds');

    function updateClock() {
      var t = getTimeRemaining(endtime);

      daysSpan.innerHTML = t.days;
      hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
      minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
      secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

      if (t.total <= 0) {
        clearInterval(timeinterval);
      }
    }

    updateClock();
    var timeinterval = setInterval(updateClock, 1000);
  }

  var deadline = new Date(Date.parse(new Date()) + timing);
  initializeClock ('clockdiv', deadline);

</script>
