<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
     <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
              Menu <i class="fa fa-bars"></i>
          </button>
      </div>
      <a class="navbar-brand page-scroll" href='/' rel="home" title="Lottery">
        <%= image_tag("logo_bonus.png", 
        :alt => "brand", 
        :style => "max-width:120px; margin-top: -14px;") %>
      </a>
      </div>
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to('Tombolă', '/lottery') %>
          </li>
          <li>
             <%= link_to('F.A.Q', '/faq') %>
          </li>
          <li>
            <%= link_to('Raportează', '/report') %>
          </li>
          <% if citizen_signed_in? %>
            <li>
              <%= link_to('Înregistrare bon', new_ticket_path) %>
            </li>
            <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contul meu<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to('Bonurile mele', tickets_path) %>
              </li>
              <li><%= link_to('Editează contul', edit_citizen_registration_path) %></li>
              <li><%= link_to('Ieșire', destroy_citizen_session_path, :method => :delete) %>   </li>
            </ul>
          <% else %>
            <li>
            <%= link_to('Înregistrează-te', new_citizen_registration_path)  %>
            </li>
          <% end %>

          <% if citizen_signed_in? %>
            <li>
                   
            </li>
          <% else %>
            <li>
              <%= link_to('Conectare', new_citizen_session_path)  %>  
            </li>
          <% end %>
          
        </ul>
      </div>
    </div>
  </div>
</nav>

