<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href='/' rel="home" title="Lottery">
        <%= image_tag("logo_2.png", 
        :alt => "brand", 
        :style => "max-width:100px; margin-top: -7px;") %>
      </a>
      </div>
      <div class="navbar-header">
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to('Loterie', '/lottery') %>
        </li>
        <% if citizen_signed_in? %>
          <li>
            <%= link_to('Înregistrare bilet', new_ticket_path) %>
          </li>
          <li>
            <%= link_to('Ticketele mele', tickets_path) %>
          </li>
          <li>
          <%= link_to('Edit registration', edit_citizen_registration_path) %>
          </li>
        <% else %>
          <li>
          <%= link_to('Register', new_citizen_registration_path)  %>
          </li>
        <% end %>

        <% if citizen_signed_in? %>
          <li>
            <%= link_to('Logout', destroy_citizen_session_path, :method => :delete) %>        
          </li>
        <% else %>
          <li>
            <%= link_to('Login', new_citizen_session_path)  %>  
          </li>
        <% end %>
        
      </ul>
    </div>
  </div>
</nav>