<nav class="navbar navbar-default topnav" role="navigation"">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href='/' rel="home" title="Lottery">
        <%= image_tag("logo_bonus.png", 
        :alt => "brand", 
        :style => "max-width:120px; margin-top: -12px;") %>
      </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to('Loterie', '/lottery') %>
        </li>
        <% if citizen_signed_in? %>
          <li>
            <%= link_to('Înregistrare bilet', new_ticket_path) %>
          </li>
          <li>
            <%= link_to('Ticketele mele', tickets_path) %>
          </li>
          <li>
            <%= link_to('Raportează', '/report') %>
          </li>
          <li>
          <%= link_to('Editează contul', edit_citizen_registration_path) %>
          </li>
        <% else %>
          <li>
          <%= link_to('Înregistrează-te', new_citizen_registration_path)  %>
          </li>
        <% end %>

        <% if citizen_signed_in? %>
          <li>
            <%= link_to('Ieșire', destroy_citizen_session_path, :method => :delete) %>        
          </li>
        <% else %>
          <li>
            <%= link_to('Conectare', new_citizen_session_path)  %>  
          </li>
        <% end %>
        
      </ul>
    </div>
  </div>
</nav>
