<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ro" lang="ro">
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BONus Fiscal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
    
  </head>
  <body>
    <header>
      <%= render partial: "layouts/navbar" %>
    </header>

    <%= render partial: "layouts/errors" %>


    <%= yield %>

  </body>
</html>
