<!DOCTYPE html>
<html>
<head>
  <title>Aggregator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: "layouts/navbar" %>
  
<!--   <div class="container">
  <p class="notice"  role="alert">
    <div class="alert alert-info alert-dismissible">
      <%= notice %>
    </div>
  </p>
  <p class="alert">
    <div class="alert alert-warning alert-dismissible"  role="alert">
      <%= alert %>
    </div>
  </p>
  </div> -->

  <div class="container">
      <%= yield %>
  </div>

</body>
</html>

